<div class="pay-list-bc">
    <div class="container">
        <div class="row">
	        <div class="page-header" style="margin-top:0">
	            <div class="col-xs-8">
	                <h4><i class="fa fa-user"></i>我的账户&nbsp;</h4>
	            </div>
	        </div>
	    </div>
        <div class="panel-body">
            <div class="col-xs-12">
             <div class="panel panel-primary">
                 <div class="panel-heading">
                     <h5 class="panel-title">账户信息</h5>
                 </div>
                 <div class="panel-body">
                 	<div class="row">
                        <div class="col-xs-12 list-content">
                            <p>账户：{{userInfo.nickname}}</p>
                            <p>账户余额：<i class="fa fa-jpy"></i>{{moneyInfo.totalMoneyAmount/100}}元</p>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
        </div>
    </div>
</div>