<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h3><strong>MOCK-API支付DEMO</strong></h3>
                <p></p>

                <p><span class="text-primary"><strong>简介：</strong></span></p>

                <blockquote style="font-size:14px">
                <p>微信公众号支付</p>
                <p>配合mock-api完成模拟微信公众号支付，达到隔离支付平台测试业务系统的目标</p>
                </blockquote>

                <p><span class="text-primary"><strong>模拟支付操作说明：</strong></span></p>

                <blockquote style="font-size:14px">
                <p>1、在mock-api中编写规则</p>
                <p>2、运行模拟场景</p>
                <p>3、配置请求支付的链接为mock-api提供的http链接</p>
                <p><span class="text-success"><strong>PS：请求支付时需要提供openId值才能支付到指定账户</strong></span></p>
                </blockquote>
            </div>

        </div>
    </div>
</div>