.consumer-bind-wizard-bc {
    padding-top: 10px;

    .board{
        width: 100%;
        margin: 10px auto;
        //height: 500px;
        background: @user-panel-background-color;

        & > div.board-inner{
            background: @user-panel-header-background-color url(http://subtlepatterns.com/patterns/geometry2.png);
            background-size: 15%;

            .liner{
                height: 2px;
                background: #ddd;
                position: absolute;
                width: 60%;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 50%;
                z-index: 1;
            }

            .nav-tabs {
                position: relative;
                margin: 10px auto 0;
                box-sizing: border-box;

                & > li {
                    &.one {
                        width: 100%;
                    }
                    &.three {
                        width: 33%;
                    }
                    span.round-tabs {
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        display: inline-block;
                        border-radius: 100px;
                        background: white;
                        z-index: 2;
                        position: absolute;
                        left: 0;
                        text-align: center;
                        font-size: 20px;
                        border: 2px solid @user-panel-header-inactive-icons-color;

                        &-user {
                            color: @user-panel-header-user-icon-color;
                        }
                        &-code {
                            color: @user-panel-header-code-icon-color;
                        }
                        &-done {
                            color: @user-panel-header-done-icon-color;
                        }
                    }
                    a {
                        width: 35px;
                        height: 35px;
                        margin: 20px auto;
                        border-radius: 100%;
                        padding: 0;
                        &:hover{
                            background: transparent;
                        }
                    }
                }

                & > li.active {
                    span.round-tabs {
                        background: #fafafa;

                        &-user {
                            border: 2px solid @user-panel-header-user-icon-color;
                        }
                        &-code {
                            border: 2px solid @user-panel-header-code-icon-color;
                        }
                        &-done {
                            border: 2px solid @user-panel-header-done-icon-color;
                        }
                    }
                    & > a, & > a:hover, & > a:focus {
                        color: #555555;
                        cursor: default;
                        border: 0;
                        border-bottom-color: transparent;
                    }
                }
            }
        }

        & > div.tab-content{
            .tab-pane{
                position: relative;
                padding-top: 5px;

                .consumer-form-bc {
                    padding-top: 10px;
                    .container {
                        width: auto;
                    }
                }
            }
        }
    }
}