<div class="pay-list-bc">
    <div class="container">
        <div class="row">
	        <div class="page-header" style="margin-top:0">
	            <div class="col-xs-8">
	                <h4><i class="fa fa-list-ul"></i>充值记录&nbsp;</h4>
	            </div>
	        </div>
	    </div>
        <div class="panel-body">
            <div class="col-xs-12">
             <div class="panel panel-primary">
                 <div class="panel-heading">
                     <h5 class="panel-title">MOCK-API充值</h5>
                 </div>
                 <div class="panel-body">
                 	<table class="table" data-click-to-select="true">
		                <thead>
					        <tr >
					            <th class="col-xs-6 text-center">充值金额</th>
					            <th class="col-xs-6 text-center">充值时间</th>
					        </tr>
					    </thead>
					    <tbody>
					    	<tr ng-repeat="recharge in rechargeList">
		                        <td class="col-xs-6  text-center">
		                            <i class="fa fa-jpy"></i>{{recharge.rechargeAmount/100}}
		                        </td>
		                        <td class="col-xs-6  text-center">
		                            {{recharge.timeEnd | formateTime}}
		                        </td>
					    	</tr>
					    </tbody>
		            </table>
                 </div>
             </div>
         </div>
        </div>
    </div>
</div>