<div class="consumer-bind-list-bc">
    <div class="container">
        <div class="row">
	        <div class="page-header" style="margin-top:0">
	            <div class="col-xs-8">
	                <h4><i class="fa fa-user"></i>绑定账户&nbsp;</h4>
	            </div>
	        </div>
	    </div>
        <div class="panel-body">
            <div class="col-xs-12">
             <div class="panel panel-primary">
                 <div class="panel-heading">
                     <h5 class="panel-title">账户绑定完成</h5>
                 </div>
                 <div class="panel-body">
                 	<form class="form-horizontal" autocomplete="off">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-xs-12 text-center">恭喜您微信账户和卡绑定成功！</label>
					  </div>
					  <div class="control-group row">
					    <div class="controls text-center">
					      <button type="button" ng-click="onGoBack()" class="btn btn-success">充&nbsp;&nbsp;&nbsp;&nbsp;值</button>
					    </div>
					  </div>
					</form>
                 </div>
             </div>
         </div>
        </div>
    </div>
</div>