<div class="consumer-bind-list-bc">
    <div class="container">
        <div class="row">
	        <div class="page-header" style="margin-top:0">
	            <div class="col-xs-8">
	                <h4><i class="fa fa-user"></i>绑定账户&nbsp;</h4>
	            </div>
	        </div>
	    </div>
        <div class="panel-body">
            <div class="col-xs-12">
             <div class="panel panel-primary">
                 <div class="panel-heading">
                     <h5 class="panel-title">初始登录验证</h5>
                 </div>
                 <div class="panel-body">
                 	<form class="form-horizontal" ng-submit="submitInitLogin()" autocomplete="off">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-xs-3 control-label">用户名</label>
					    <div class="col-xs-9">
					      <input type="text" class="form-control" id="inputEmail3" placeholder="用户名">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-xs-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
					    <div class="col-xs-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="初始密码">
					    </div>
					  </div>
					  <div class="control-group row">
					    <div class="controls text-center">
					      <button type="submit" class="btn btn-success">下一步</button>
					    </div>
					  </div>
					</form>
                 </div>
             </div>
         </div>
        </div>
    </div>
</div>