<div class="consumer-bind-list-bc">
    <div class="container">
        <div class="row">
	        <div class="page-header" style="margin-top:0">
	            <div class="col-xs-8">
	                <h4><i class="fa fa-user"></i>绑定账户&nbsp;</h4>
	            </div>
	        </div>
	    </div>
        <div class="panel-body">
            <div class="col-xs-12">
             <div class="panel panel-primary">
                 <div class="panel-heading">
                     <h5 class="panel-title">修改密码</h5>
                 </div>
                 <div class="panel-body">
                 	<form class="form-horizontal" ng-submit="submitFinishBind()" autocomplete="off">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-xs-3 control-label text-center">手机号</label>
					    <div class="col-xs-9">
					      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入手机号">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-xs-5 col-xs-offset-3">
					      <button type="botton" class="form-control btn btn-xs btn-warning">获取验证码</button>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-xs-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
					    <div class="col-xs-9">
					      <input type="text" class="form-control" id="inputEmail3" placeholder="请输入新密码">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-xs-3 control-label">确认密码</label>
					    <div class="col-xs-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="确认新密码">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-xs-3 control-label">验证码</label>
					    <div class="col-xs-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="请输入短信验证码">
					    </div>
					  </div>
					  <div class="control-group row">
					    <div class="controls text-center">
					      <button type="submit" class="btn btn-success">绑&nbsp;&nbsp;&nbsp;&nbsp;定</button>
					    </div>
					  </div>
					</form>
                 </div>
             </div>
         </div>
        </div>
    </div>
</div>