<div class="consumer-bind-wizard-bc">
    <div class="container">
        <div class="row">
            <div class="board">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="signTab">
                        <div class="liner"></div>
                        <li class="three" ng-class="{'active': activeStep=='info'}">
                            <a href="" ng-click="gotoStep('info')" title="初始登录">
                                <span class="round-tabs round-tabs-user">
                                    <i class="fa fa-user"></i>
                                </span>
                            </a>
                        </li>
                        <li class="three" ng-class="{'active': activeStep=='code'}">
                            <a href="" ng-click="gotoStep('code')" title="设置密码">
                                <span class="round-tabs round-tabs-code">
                                    <i class="fa fa-qrcode"></i>
                                </span>
                            </a>
                        </li>
                        <li class="three" ng-class="{'active': activeStep=='done'}">
                            <a href="" title="绑定成功">
                                <span class="round-tabs round-tabs-done">
                                    <i class="fa fa-check"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" ng-if="activeStep=='info'">
                        <inner-consumer-bind-info></inner-consumer-bind-info>
                    </div>
                    <div class="tab-pane active" ng-if="activeStep=='code'">
                        <inner-consumer-bind-code></inner-consumer-bind-code>
                    </div>
                    <div class="tab-pane active" ng-if="activeStep=='done'">
                        <inner-consumer-bind-done></inner-consumer-bind-done>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>